/* 모바일 화면 임포트 */
@import url(./board.moblie.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "JeonjuCraftGoR";
}

body {
  background-color: #f5f5f5;
}
/* @font-face {
  font-family: "JeonjuCraftGoR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */

/* 미디어쿼리 시작 PC화면 */

@media screen and (min-width: 767px) {
  /* nav 시작!*/
  /* 고정 헤더 */
  #navi {
    width: 100%;
    height: 100px;
    /* 메인 제외 페이지 가로선 */
    z-index: 100;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #f5f5f5;
  }

  /* 헤더 메뉴 */
  #navi a {
    text-decoration: none;
    padding: 0 4%;
    color: #333;
    font-size: 17px;
    font-weight: bold;
  }

  /* 메뉴 호버 */
  #navi a:hover {
    text-shadow: midnightblue 1px 0 15px;
    color: midnightblue;
  }

  .navicon {
    display: none;
  }

  /* #loginbtn:hover,
  #logoutbtn:hover {
    text-shadow: midnightblue 1px 0 15px;
    color: midnightblue;
  } */

  /* 각각 타이틀 제목 */

  h3 {
    font-size: 1.5rem;
    line-height: 1;
  }
  h4 {
    color: gray;
    font-size: 1.5rem;
    margin-top: 10px;
    line-height: 1;
  }
  /* 타이틀 밑에 있는 내용 */

  .blank {
    color: red;
    opacity: 0.5;
  }
  .subbox1 {
    margin-top: 95px;

    padding: 15px 0px;
  }
  .subbox1 p {
    font-size: 1.3rem;
    color: gray;
  }
  .subbox1 span {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .accept- {
    width: 100%;
    line-height: 50px;
    height: 50px;
    background-color: gainsboro;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #accept {
    overflow: scroll;
    text-align: left;
    width: 100%;
    height: 300px;
    border: none;
    padding: 1rem;
    line-height: 1.3;
    overflow-x: hidden;
  }
  .sub-text {
    font-size: 0.5rem;
    color: gray;
    line-height: 40px;
  }

  label {
    display: block;
    font-weight: bold;
    padding: 15px 0px;
  }

  .header-line {
    width: 80%;
    margin: 45px auto 0px auto;
    display: flex;
    justify-content: space-between;
  }

  /* 각input값 */

  /* 이름 */
  .name-box {
    margin: 0 auto;
    width: 80%;
  }
  .name-value {
    text-overflow: ellipsis;
    padding-left: 15px;
    background-color: #f8f8f8;
    font-size: 1rem;
    border: 1px solid gainsboro;
    height: 50px;
    min-width: 150px; /* 최소 넓이는 50px */
    max-width: 100px; /* 최대 넓이는 200px */
  }

  .value {
    text-overflow: ellipsis;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 1rem;
    border: 1px solid gainsboro;
    height: 50px;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
  }

  .main-contetnt {
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
  }

  .call {
    margin: 0 auto;
    width: 80%;
  }
  .call p {
  }
  .call- {
    line-height: 50px;
    padding: 0 10px;
  }
  .call-box {
    display: flex;
    width: 450px;
  }

  .email {
    width: 80%;
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  .emaillabel {
    width: 80%;
    margin: 0 auto;
  }
  .email-box {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: end;
  }

  .email-value {
    background-color: #f8f8f8;
    font-size: 1rem;
    height: 50px;
    padding-left: 15px;
    max-width: 30%;
    border: 1px solid gainsboro;
  }
  .email-value2 {
    padding-left: 15px;
    margin-left: 4%;
    max-width: 15%;
    background-color: #f8f8f8;
    border: 1px solid gainsboro;
    height: 50px;
  }

  .subbox {
    padding: 35px 0px 15px 0px;
    width: 80%;
    margin: 0 auto;
  }

  .underline {
    margin: 0 auto;
    width: 80%;
    border-bottom: 2.3px solid gainsboro;
    padding-bottom: 10px;
  }
  .boldunderline {
    width: 80%;
    border-bottom: 3px solid black;
    margin: 0 auto;
  }

  .제목 {
    width: 100%;
    background-color: #f8f8f8;
    font-size: 1rem;
    border: none;
    height: 50px;
  }

  .titlebox {
    margin: 0 auto;
    width: 79%;
  }
  #title {
    padding-left: 15px;
    border: 1px solid gainsboro;
  }

  .content {
    width: 79%;
    margin: 0 auto;
  }
  .content-box {
    width: 100%;
  }
  .content-value {
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    background-color: #f8f8f8;
    font-size: 1rem;
    border: 1px solid gainsboro;
    height: 250px;
    resize: none;
  }
  #accept-text {
    font-size: 1rem;
    line-height: 1;
  }

  .checkbox {
    width: 100%;
  }

  .checkbox button {
    display: block;
    margin: 0 auto;
  }
  .tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .checkboxcontainer {
    width: 80%;
    margin: 0 auto;
  }

  .checkbox input[type="checkbox"]:checked {
    background-color: #87ceeb;
  }
  .checkbox span {
    line-height: 90px;
    min-width: 100%;
  }

  .submmitbox {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #f5f5f5;
  }

  .submmit {
    width: 150px;
    padding: 10px;
    border: 3px solid rgb(138, 212, 241);
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    background: white;
    color: black;
  }
  .submmit:focus {
    color: white;
    background-color: rgb(138, 212, 241);
    transition: all 1s;
  }
  .submmit:hover {
    background: rgb(138, 212, 241);
    color: white;
  }
}
